.text-explanation {
  color: #363f44
}

.chart h3 {

  font-size: 42px;
  text-align: center;

  color: #E53A40
}




.chart-left h3 {

  font-size: 42px;
  text-align: center;

  color: #E53A40
}

.us_states {
  stroke: #000;
  stroke-width: 1px;
}

.us_states:hover {
  opacity: .6;
}

.legendLinear text {
  font-size: 12px;
}

.trial_line {

  fill: none;
  stroke: #ccc;
  stroke-width: 2;
}




.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43, 43, 43, 0.8);
  color: #fff;
  border-radius: 2px;
}


.annotation-group {
  font: 12px sans-serif;
  float: middle
}


.slidertext_chart2 {

  font: 12px sans-serif;
  color: #ff5f2e
}


body {
  font: 12px Arial;
}

path {
  stroke: #000;
  stroke-width: 2;

}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#legendContainer {
  position: absolute;
  top: 350px;
  left: 800px;
  overflow: auto;
  height: 90px;
  width: 300px;
}

#legend {
  width: 320px;
  height: 200px;
}

.legend {
  font-size: 12px;
  font-weight: normal;
  text-anchor: left;
}

.legendcheckbox {
  cursor: pointer;
}

#showAll {
  position: absolute;
  top: 600px;
  left: 880px;
}

#clearAll {
  position: absolute;
  top: 600px;
  left: 950px;
}

input {
  border-radius: 5px;
  padding: 5px 10px;
  background: #999;
  border: 0;
  color: #fff;
}

#inds {
  position: absolute;
  top: 300px;
  left: 1110px;
  font: 24px sans-serif;
}

.intro {
  color: #e1eef6;
  text-align: center;
}

html,
body,
#vis {
  height: 100%;
  margin: 0;
}


body {
  font: 20px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.intro h1 {
  font-size: 255px;
  color: #E53A40
}

.intro h2 {
  font-size: 44px;
  color: #E53A40
}

.secondchartlabels {

  font-size: 12px;

}

.intro h3 {
  font-size: 22px;
  text-align: bottom;
  top: 500 px;
  color: #E53A40
}

.bar {
  fill: #004e66;
  opacity: 0.8;
}

.bar:hover {
  fill: #E53A40;
  opacity: 0.8;
}

.city-boundary {
  fill: #fff;
  stroke: #888888;
  stroke-linejoin: round;
}

.label {
  fill: #000;
}

.fp-controlArrow.fp-prev {
  left: 50px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #000 transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 50px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #000;
}

.event {
  fill: #004e66;
  stroke: #e1eef6;
  stroke-width: 1px;
  opacity: 0.8;
  position: relative;
}

.event:hover {
  fill: #ff5f2e;
  cursor: pointer;
  z-index: 9999;
}

#map_svg {
  border: 1px solid #dddddd;
}

div.tooltip {
  position: absolute;
  background-color: #dddddd;
  opacity: 0.9;
  border: 1px solid #666666;
  border-radius: 3px;
  color: #000;
  padding: 4px 8px;
  display: none;
}

.container {
  width: 950px;
  height: 800px;
  margin: auto;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.text-first {
  float: right;
  width: 250px;
  padding-top: 150px;
  text-align: justify;
  color: #363f44
}

.text-right {
  float: right;
  width: 250px;
  padding-top: 50px;
  text-align: justify;
}

.text-calendar {
  padding-top: 15px;
  padding-left: 25px;
  height: 300px;
}

p {
  text-align: left;
  font-size: 0.9em;
}

.chart-left {
  float: left;
  width: 650px;
}

.column-header h3 {
  height: 110px;
  color: #E53A40;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 70px;
  font: sans-serif;
}

.column-left h6 {
  text-decoration: underline;
  font-size: 22px;
  color: #E53A40;


}

.column-end h1 {
  text-decoration: double;
  font-size: 52px;
}

.column-end {
  position: absolute;
  top: 750px;
  left: 430px;
  font-size: 52px;
  float: center;
  color: #E53A40;
  text-align: center;


}

.column-right h6 {
  text-decoration: underline;
  font-size: 22px;
  color: #E53A40;


}


.column-left {
  float: left;
  width: 50%;
  padding: 10px;
}

.column-right {
  float: right;
  width: 50%;
  padding: 10px;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: ew-resize;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.circle_annotation {
  fill: none;
  stroke: #E53A40;
  stroke-width: 2px;
}

.line_annotation {
  fill: none;
  stroke: #E53A40;
  stroke-width: 2px;
}

.text_annotation {
  fill: #E53A40;
}

.text-legend {
  font-size: 0.7em;
}

#header {
  position: fixed;
  height: 40px;
  display: block;
  width: 100%;
  background: #333;
  z-index: 9;
  text-align: left;
  color: #f2f2f2;
  padding: 10px 0 0 30px;
  top: 0px;
}

#header a {
  color: #e1eef6;
}

.about_text {
  font-size: 0.75em;
}


.about_text_2 {
  font-size: 0.75em;
  text-decoration: underline;
  color: black;
}


.date {
  float: right;
  padding-right: 20px;
}

a {
  color: #ff5f2e;
}

a:hover {
  color: #004e66;
  text-decoration: none;
}

a:visited {
  color: #ff5f2e;
}